# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json
from citipy import citipy

# Import API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
# Load the output_data/cities CSV into a data frame
cities_df = pd.read_csv("../output_data/cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
#Create a list using Lat Lng columns as coordinates
locations = cities_df[["Lat", "Lng"]]
weight = cities_df["Humidity"]

In [7]:
# Plot Heatmap
fig = gmaps.figure()

# Create the heatlayer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, dissipating=False, max_intensity=10, point_radius=1)

# Add Layer
fig.add_layer(heat_layer)

# Display figure
plt.savefig('../images.Humidity_Heatmap.png')
fig


#fig(layout=figurelayout(height='420px')

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# Narrow weather criteria to Max Temp < 85 and > 70 degrees
# Humidity > 70% 
# Wind Speed < 10 mph
# Cloudiness of 10 or less
# Drop any cities that don't meet all four criteria

fitting_weather = cities_df.dropna()
fitted_cities = fitting_weather.loc[(fitting_weather['Humidity'] >= 70) & (fitting_weather['Cloudiness'] <= 10)]


fitted_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
13,13,saskylakh,0,RU,1558378757,91,71.97,114.09,4.92,2.26
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
40,40,hermanus,9,ZA,1558378761,74,-34.42,19.24,55.00,23.78
55,55,khatanga,10,RU,1558378764,92,71.98,102.47,9.96,10.94
57,57,kolyvan,0,RU,1558378764,87,55.31,82.74,48.20,4.47
84,84,emerald,0,AU,1558378770,82,-23.53,148.16,60.80,6.93
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
102,102,ketchikan,1,US,1558378684,76,55.34,-131.65,55.40,17.22
118,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
129,129,paita,0,PE,1558378778,290,-5.09,-81.11,62.60,17.22
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
141,141,sanchazi,0,CN,1558378781,82,30.43,103.62,64.40,2.24
179,179,chokurdakh,0,RU,1558378788,89,70.62,147.90,7.08,5.99
189,189,bluff,1,AU,1558378790,89,-23.58,149.07,61.08,11.83
191,191,naryan-mar,0,RU,1558378791,90,67.67,53.09,27.24,8.19
205,205,hutang,4,CN,1558378793,71,29.22,119.85,59.10,3.31
209,209,paamiut,7,GL,1558378794,91,61.99,-49.67,35.70,16.31
231,231,mocuba,1,MZ,1558378804,90,-16.84,36.99,65.76,2.42
236,236,provideniya,5,RU,1558378816,72,64.42,-173.23,33.72,5.23
248,248,ancud,0,CL,1558378825,70,-41.87,-73.83,48.20,9.17
251,251,leningradskiy,0,RU,1558378827,80,69.38,178.42,22.20,6.38
266,266,alice springs,1,AU,1558378836,93,-23.70,133.88,57.20,3.36
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
283,283,christchurch,1,NZ,1558378744,100,-43.53,172.64,51.01,3.36
300,300,betafo,9,MG,1558378845,92,-19.84,46.86,58.20,3.47
307,307,dunedin,1,NZ,1558378846,81,-45.87,170.50,46.99,4.00
309,309,upernavik,0,GL,1558378846,85,72.79,-56.15,29.22,11.59
326,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
337,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
359,359,sorland,0,NO,1558378858,71,67.67,12.69,53.60,5.82
391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
396,396,nelson bay,2,AU,1558378870,93,-32.72,152.14,59.00,3.36
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
412,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82
422,422,susuman,0,RU,1558378875,75,62.78,148.15,22.38,3.15
427,427,hastings,0,NZ,1558378877,93,-39.64,176.84,42.18,2.64
429,429,maniitsoq,1,GL,1558378877,76,65.42,-52.90,40.02,8.08
433,433,svodin,0,SK,1558378878,72,47.91,18.50,63.00,6.93
438,438,waipawa,0,NZ,1558378879,93,-39.94,176.59,33.01,2.64
465,465,seshcha,1,RU,1558378884,72,53.73,33.34,61.62,6.11
473,473,seoul,1,KR,1558378758,93,37.57,126.98,55.40,4.70
477,477,bundaberg,0,AU,1558378886,93,-24.87,152.35,61.00,6.93
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
512,512,natchez,1,US,1558378892,74,31.56,-91.40,87.01,6.93
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

In [9]:

last_fitted_cities = fitted_cities.loc[(fitted_cities['Max Temp'] >= 70) & (fitted_cities['Max Temp'] <= 85)]


last_fitted_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
118,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
326,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
337,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
412,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
hotel_df = pd.DataFrame(last_fitted_cities, columns=['City_ID', 'City', 'Country', 'Lat', 'Lng'])

hotel_df

     City_ID             City Country    Lat     Lng
20        20           teknaf      BD  20.86   92.31
87        87         ambilobe      MG -13.19   49.05
118      118       sao filipe      CV  14.90  -24.50
125      125  arraial do cabo      BR -22.97  -42.02
139      139            vaini      IN  15.34   74.49
268      268           dingle      PH  11.00  122.67
326      326    cockburn town      TC  21.46  -71.14
337      337         acapulco      MX  16.86  -99.88
391      391           namibe      AO -15.19   12.15
402      402          sambava      MG -14.27   50.17
412      412              diu      IN  20.71   70.98

In [65]:
# Add Hotel Name as an additional column
hotel_df['Hotel Name'] = ""
hotel_df.head()

     City_ID             City Country    Lat    Lng Hotel Name
20        20           teknaf      BD  20.86  92.31
87        87         ambilobe      MG -13.19  49.05
118      118       sao filipe      CV  14.90 -24.50
125      125  arraial do cabo      BR -22.97 -42.02
139      139            vaini      IN  15.34  74.49

In [66]:
# Reset Index
hotel_df.reset_index()

    index  City_ID             City Country    Lat     Lng Hotel Name
0      20       20           teknaf      BD  20.86   92.31
1      87       87         ambilobe      MG -13.19   49.05
2     118      118       sao filipe      CV  14.90  -24.50
3     125      125  arraial do cabo      BR -22.97  -42.02
4     139      139            vaini      IN  15.34   74.49
5     268      268           dingle      PH  11.00  122.67
6     326      326    cockburn town      TC  21.46  -71.14
7     337      337         acapulco      MX  16.86  -99.88
8     391      391           namibe      AO -15.19   12.15
9     402      402          sambava      MG -14.27   50.17
10    412      412              diu      IN  20.71   70.98

In [67]:
#print(g_key)

In [74]:
#Find the nearest Hotels and print their names into the Hotel Name column
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
        "location": locations,
        "types": "lodging",
        "radius": 5000,
        "key": g_key,
}


 # Use iterrows to iterate through pandas data frame
    
for index, row in hotel_df.iterrows():
    
    #Get the nme of the city from the data frame
    city_name = row['City']
    

    
    # Add key word to params
    params['keyword'] = city_name
    
    # Print base_url request
    print(f"Retrieving results for Index{index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response["results"]
    
    try:
        print(f"Closest {city_name} hotel is {results[0]["Hotel Name"]}.")
        
        hotel_df.loc[index, "Hotel Name"] = results[0]["Hotel Name"]
        
    except (KeyrError, IndexError):
        print("Missing field/result...skipping")
        
    print("--------------")

SyntaxError: invalid syntax (<ipython-input-74-0da9a2ee3112>, line 32)

In [69]:
hotel_df

     City_ID             City Country    Lat     Lng Hotel Name
20        20           teknaf      BD  20.86   92.31
87        87         ambilobe      MG -13.19   49.05
118      118       sao filipe      CV  14.90  -24.50
125      125  arraial do cabo      BR -22.97  -42.02
139      139            vaini      IN  15.34   74.49
268      268           dingle      PH  11.00  122.67
326      326    cockburn town      TC  21.46  -71.14
337      337         acapulco      MX  16.86  -99.88
391      391           namibe      AO -15.19   12.15
402      402          sambava      MG -14.27   50.17
412      412              diu      IN  20.71   70.98

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure