# VacationPy
![Hotel Map](/Images/hotel_map.png)
----

# Observations: 
* Loaded citiy data from the cities data CSV

* Created a data file of ideeal cities:
Tempreature  >= 70 degrees but <= 85 degrees
Humidity >= 70%
cloudinness <= 10

* Made call to Google Places API to return the nearest Hotel Names within 5000 meters of the lat lng for the city
* Created a heat map of the Huimidity
* Created markers to pmark the locations of the hotel names

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### Part II - VacationPy

Now let's use your skills in working with weather data to plan future vacations. Use jupyter-gmaps and the Google Places API for this part of the assignment.

* **Note:** Remember that any API usage beyond the $200 credit will be charged to your personal account. You can set quotas and limits to your daily requests to be sure you can't be charged. Check out [Google Maps Platform Billing](https://developers.google.com/maps/billing/gmp-billing#monitor-and-restrict-consumption) and [Manage your cost of use](https://developers.google.com/maps/documentation/javascript/usage-and-billing#set-caps) for more information.

* **Note:** if you having trouble displaying the maps, try running `jupyter nbextension enable --py gmaps` in your environment and retry.

To complete this part of the assignment,you will need to do the following:

* Create a heat map that displays the humidity for every city from Part I.

  ![heatmap](Images/heatmap.png)

* Narrow down the DataFrame to find your ideal weather condition. For example:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

  * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

* Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

* Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.

  ![hotel map](Images/hotel_map.png)

As final considerations:

* You must complete your analysis using a Jupyter notebook.
* You must use the Matplotlib or Pandas plotting libraries.
* For Part I, you must include a written description of three observable trends based on the data.
* For Part II, you must include a screenshot of the heatmap you create and include it in your submission.
* You must use proper labeling of your plots, including aspects like: Plot Titles (with date of analysis) and Axes Labels.
* For max intensity in the heat map, try setting it to the highest humidity found in the data set.

## Hints and Considerations

* The city data you generate is based on random coordinates as well as different query times. As such, your outputs will not be an exact match to the provided starter notebook.

* If you'd like a refresher on the geographic coordinate system, [this site](http://desktop.arcgis.com/en/arcmap/10.3/guide-books/map-projections/about-geographic-coordinate-systems.htm) has great information.

* Next, spend the requisite time necessary to study the OpenWeatherMap API. Based on your initial study, you should be able to answer basic questions about the API: Where do you request the API key? Which Weather API in particular will you need? What URL endpoints does it expect? What JSON structure does it respond with? Before you write a line of code, you should be aiming to have a crystal clear understanding of your intended outcome.

* A starter code for Citipy has been provided. However, if you're craving an extra challenge, push yourself to learn how it works: [citipy Python library](https://pypi.python.org/pypi/citipy). Before you try to incorporate the library into your analysis, start by creating simple test cases outside your main script to confirm that you are using it correctly. Too often, when introduced to a new library, students get bogged down by the most minor of errors -- spending hours investigating their entire code -- when, in fact, a simple and focused test would have shown their basic utilization of the library was wrong from the start. Don't let this be you!

* Part of our expectation in this challenge is that you will use critical thinking skills to understand how and why we're recommending the tools we are. What is Citipy for? Why would you use it in conjunction with the OpenWeatherMap API? How would you do so?

* In building your script, pay attention to the cities you are using in your query pool. Are you getting coverage of the full gamut of latitudes and longitudes? Or are you simply choosing 500 cities concentrated in one region of the world? Even if you were a geographic genius, simply rattling 500 cities based on your human selection would create a biased dataset. Be thinking of how you should counter this. (Hint: Consider the full range of latitudes).

* Once you have computed the linear regression for one chart, the process will be similar for all others. As a bonus, try to create a function that will create these charts based on different parameters.

* Remember that each coordinate will trigger a separate call to the Google API. If you're creating your own criteria to plan your vacation, try to reduce the results in your DataFrame to 10 or fewer cities.

* Ensure your repository has regular commits (i.e. 20+ commits) and a thorough README.md file.

* Lastly, remember -- this is a challenging activity. Push yourself! If you complete this task, then you can safely say that you've gained a strong mastery of the core foundations of data analytics and it will only go better from here. Good luck!

### Copyright

Trilogy Education Services Â© 2020. All Rights Reserved.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json
from citipy import citipy

# Import API key
from api_keys import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the output_data/cities CSV into a data frame
cities_df = pd.read_csv("../output_data/cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
#Create a list using Lat Lng columns as coordinates
locations = cities_df[["Lat", "Lng"]]
weight = cities_df["Humidity"]

In [14]:
# Plot Heatmap
figure_layout = {
    'width': '900px',
    'hieght': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout,zoom_level=2, center=(15,25))
# Create the heatlayer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, dissipating=False, max_intensity=100, point_radius=1.5)

# Add Layer
fig.add_layer(heat_layer)

# Display figure
plt.savefig('../images.Humidity_Heatmap.png')
fig


#fig(layout=figurelayout(height='420px')

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# Narrow weather criteria to Max Temp < 85 and > 70 degrees
# Humidity > 70% 
# Wind Speed < 10 mph
# Cloudiness of 10 or less
# Drop any cities that don't meet all four criteria

fitting_weather = cities_df.dropna()
fitted_cities = fitting_weather.loc[(fitting_weather['Humidity'] >= 70) & (fitting_weather['Cloudiness'] <= 10)]


fitted_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
13,13,saskylakh,0,RU,1558378757,91,71.97,114.09,4.92,2.26
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
40,40,hermanus,9,ZA,1558378761,74,-34.42,19.24,55.00,23.78
55,55,khatanga,10,RU,1558378764,92,71.98,102.47,9.96,10.94
57,57,kolyvan,0,RU,1558378764,87,55.31,82.74,48.20,4.47
84,84,emerald,0,AU,1558378770,82,-23.53,148.16,60.80,6.93
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
102,102,ketchikan,1,US,1558378684,76,55.34,-131.65,55.40,17.22
118,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
129,129,paita,0,PE,1558378778,290,-5.09,-81.11,62.60,17.22
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
141,141,sanchazi,0,CN,1558378781,82,30.43,103.62,64.40,2.24
179,179,chokurdakh,0,RU,1558378788,89,70.62,147.90,7.08,5.99
189,189,bluff,1,AU,1558378790,89,-23.58,149.07,61.08,11.83
191,191,naryan-mar,0,RU,1558378791,90,67.67,53.09,27.24,8.19
205,205,hutang,4,CN,1558378793,71,29.22,119.85,59.10,3.31
209,209,paamiut,7,GL,1558378794,91,61.99,-49.67,35.70,16.31
231,231,mocuba,1,MZ,1558378804,90,-16.84,36.99,65.76,2.42
236,236,provideniya,5,RU,1558378816,72,64.42,-173.23,33.72,5.23
248,248,ancud,0,CL,1558378825,70,-41.87,-73.83,48.20,9.17
251,251,leningradskiy,0,RU,1558378827,80,69.38,178.42,22.20,6.38
266,266,alice springs,1,AU,1558378836,93,-23.70,133.88,57.20,3.36
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
283,283,christchurch,1,NZ,1558378744,100,-43.53,172.64,51.01,3.36
300,300,betafo,9,MG,1558378845,92,-19.84,46.86,58.20,3.47
307,307,dunedin,1,NZ,1558378846,81,-45.87,170.50,46.99,4.00
309,309,upernavik,0,GL,1558378846,85,72.79,-56.15,29.22,11.59
326,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
337,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
359,359,sorland,0,NO,1558378858,71,67.67,12.69,53.60,5.82
391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
396,396,nelson bay,2,AU,1558378870,93,-32.72,152.14,59.00,3.36
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
412,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82
422,422,susuman,0,RU,1558378875,75,62.78,148.15,22.38,3.15
427,427,hastings,0,NZ,1558378877,93,-39.64,176.84,42.18,2.64
429,429,maniitsoq,1,GL,1558378877,76,65.42,-52.90,40.02,8.08
433,433,svodin,0,SK,1558378878,72,47.91,18.50,63.00,6.93
438,438,waipawa,0,NZ,1558378879,93,-39.94,176.59,33.01,2.64
465,465,seshcha,1,RU,1558378884,72,53.73,33.34,61.62,6.11
473,473,seoul,1,KR,1558378758,93,37.57,126.98,55.40,4.70
477,477,bundaberg,0,AU,1558378886,93,-24.87,152.35,61.00,6.93
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
512,512,natchez,1,US,1558378892,74,31.56,-91.40,87.01,6.93
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

In [16]:

last_fitted_cities = fitted_cities.loc[(fitted_cities['Max Temp'] >= 70) & (fitted_cities['Max Temp'] <= 85)]


last_fitted_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
118,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
326,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
337,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
412,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = last_fitted_cities

hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
118,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
326,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
337,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
412,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82

In [18]:
# Add Hotel Name as an additional column
hotel_df['Hotel Name'] 
hotel_df.head()

KeyError: 'Hotel Name'

In [19]:
# Reset Index
indexed_hotel_df = hotel_df.reset_index()
del indexed_hotel_df['index']
indexed_hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
1,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
2,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91
3,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
4,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
5,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
6,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
7,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
8,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40
9,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
10,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82

In [20]:
hotel = []

for city in range(len(indexed_hotel_df["City"])):
    

    lat = indexed_hotel_df.loc[city]["Lat"]
    lng = indexed_hotel_df.loc[city]["Lng"]
    

        
    coordinates = f"{lat},{lng}"


    target_coordinates = coordinates
    target_search = "hotel"
    target_radius = 8000
    target_type = "lodging"
    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": gkey
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    hotel = response.json()['results'][0]['name']
    indexed_hotel_df.loc[city,'Hotel Name'] = hotel

In [21]:
response.json()['results'][0]['name']

'Diu Tent City - Diu, India'

In [22]:
indexed_hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23,Central Resort Ltd.
1,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52,Hotel National
2,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91,Hotel Xaguate
3,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70,Orlanova Boutique Hotel
4,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,"The Stag , A Unit of Deer Valley Homestay"
5,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73,OYO 236 Hotel Edmundo
6,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50,Osprey Beach Hotel
7,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41,Banyan Tree Cabo Marqués
8,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40,iu Hotel Namibe
9,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50,Carrefour
10,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82,"Diu Tent City - Diu, India"

In [23]:
response = response.json()
print(json.dumps(response, indent=4))

{
    "html_attributions": [],
    "next_page_token": "ATtYBwJkCQO31kMbGP3R8SK_tYuTmnl53r2-AVd97tFYSy1n7LPuekdwiISAdWRj7OlsAPTBeW_cbeszmhN2KJpgVblzcHGcPs96kElWhWlzrj3ant5cl6K5kfH1vV2Xe0YV6MBNY0MJoORmn8on_ZWDj9zRszD-RXVF7Xt1BBQyejSqRLywvake0d8ifltbvkL9lNR7lKVNx6HwVNDpC35-qlNeBt34CqONleQDWjt2WwTuKtPDZMPxVkj0BLBIYYlqfIxAwhjgi4065t_1U1MP87AG9BUL9VL61i3gU-rNLEaOSPtNlLOBjcjJj79MbiWCWyAwxXbrcHNtpgxRf8H4iQdXHUl_Fk1MhRzne_sEruJqOB4wjBdAqHGm2hFNcG5Q69lVY9uZJheGKZcEb7QLysXgKCoWyAPGU0MI8ESIhT09EwYaMXeQlScIP6VHwU9yVg",
    "results": [
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7021811,
                    "lng": 70.9114907
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.70387207989272,
                        "lng": 70.91277627989273
                    },
                    "southwest": {
                        "lat": 20.70117242010728,
                        "lng": 70.91007662010729
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Diu Tent City - Diu, India",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2304,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/101370318951215553800\">A Google User</a>"
                    ],
                    "photo_reference": "ATtYBwLl_SrKZC-hUgXpsXHDYvyCPKIU4Lg9eIHMyix-SQcXB55AwZbywphSgbqf33eBrsCAYwhzIrLYdlwj9BQiymkE6kl9lJu2uWrq8yvl_woA5l1H9wzziivwWGEmXr5p8P6PGxYSguCjFJKmabDrvv9XiyD8L30OmFJTF8qHyOGEGw1t",
                    "width": 3456
                }
            ],
            "place_id": "ChIJQcU55-sd4zsRrhILFCJRRn8",
            "plus_code": {
                "compound_code": "PW26+VH Vanakbara, Dadra and Nagar Haveli and Daman and Diu, India",
                "global_code": "7JGGPW26+VH"
            },
            "rating": 4.4,
            "reference": "ChIJQcU55-sd4zsRrhILFCJRRn8",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "restaurant",
                "food",
                "point_of_interest",
                "store",
                "establishment"
            ],
            "user_ratings_total": 107,
            "vicinity": "Khodidhar Beach, Nagoa"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7065763,
                    "lng": 70.91482630000002
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.70794662989272,
                        "lng": 70.91631522989273
                    },
                    "southwest": {
                        "lat": 20.70524697010728,
                        "lng": 70.91361557010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Radhika Beach Resort",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 3000,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/105315653824178857747\">A Google User</a>"
                    ],
                    "photo_reference": "ATtYBwL1IZSFV-hSvzBmPVGGxJ77FF-D6O_NOcLubw9q1VrfXgnxzEcjXn2jjPfC5gOaeb6nW3mWJsLZYsVEYxkBAghl6iLfTC6rIquaY0bV-CbLGCfZ3N2D1uPE_S4ix6fFjZqfOhNJc2L7Bc53TvJ4FF8S6VMAOpctnriq2V6SQ9zUe8pu",
                    "width": 4000
                }
            ],
            "place_id": "ChIJiUxC5y4c4zsRiEVnfgt02dc",
            "plus_code": {
                "compound_code": "PW47+JW Diu, Daman and Diu, India",
                "global_code": "7JGGPW47+JW"
            },
            "rating": 4.3,
            "reference": "ChIJiUxC5y4c4zsRiEVnfgt02dc",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 3700,
            "vicinity": "Nagoa Beach, Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7106399,
                    "lng": 70.9457728
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.71187622989272,
                        "lng": 70.94716162989272
                    },
                    "southwest": {
                        "lat": 20.70917657010727,
                        "lng": 70.94446197010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "HOTEL AMBICA",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 5304,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/118071916227852813882\">A Google User</a>"
                    ],
                    "photo_reference": "ATtYBwLs2vRw6iw9MPbYevfO9L1mVV7h-8k_V0gDNg4SyUqV5VhkakCgc6bXNJl5O7vsvcZhGQzEkSX9k5oV9jl3uMIAQ7Yiv4-qgOymwkqZ74_XcY7PP4S4Rj89EqOY32PjJhfOcU0YzrGicy-r-xPuTpBxJrb887dz7LDP1BMEnqI8_051",
                    "width": 7952
                }
            ],
            "place_id": "ChIJ62rKcrsd4zsRJG_1obXKKpo",
            "plus_code": {
                "compound_code": "PW6W+78 Malala, Dadra and Nagar Haveli and Daman and Diu, India",
                "global_code": "7JGGPW6W+78"
            },
            "rating": 4.7,
            "reference": "ChIJ62rKcrsd4zsRJG_1obXKKpo",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 17,
            "vicinity": "Airport Road Malala Diu Daman and Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.713681,
                    "lng": 70.97028499999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.71516892989272,
                        "lng": 70.97167197989272
                    },
                    "southwest": {
                        "lat": 20.71246927010728,
                        "lng": 70.96897232010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Azzaro Resorts & Dot spa",
            "opening_hours": {
                "open_now": false
            },
            "photos": [
                {
                    "height": 3000,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109777852740037063444\">roopesh</a>"
                    ],
                    "photo_reference": "ATtYBwLNTWgIWqlMsB_cQdduf7sle5RpkiDR9uOzpH2Yky-sfhFDUDVYWkiNsHsm6yrijssNuKviJMppR5c3EiC8cpgpr9c8PY8U-5C_mErs0JQYWlXKT9DRWjqolLiAQbh1dAb0Ua-UoK82mAxt8vvScxj9kqABTTE8JMcOk9yTa7OBPDyW",
                    "width": 4000
                }
            ],
            "place_id": "ChIJm4R1XuQc4zsRbaLBc6hrejU",
            "plus_code": {
                "compound_code": "PX7C+F4 Diu, Daman and Diu, India",
                "global_code": "7JGGPX7C+F4"
            },
            "rating": 4,
            "reference": "ChIJm4R1XuQc4zsRbaLBc6hrejU",
            "scope": "GOOGLE",
            "types": [
                "spa",
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1215,
            "vicinity": "Nagoa Beach Rd, opp. Kohinoor Hotel, Fofrara, Fudam, Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7179285,
                    "lng": 70.9841235
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.71927837989272,
                        "lng": 70.98549517989272
                    },
                    "southwest": {
                        "lat": 20.71657872010728,
                        "lng": 70.98279552010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Hotel TGH - The Grand Highness",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 3744,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/110858363973372427894\">HOTEL TGH</a>"
                    ],
                    "photo_reference": "ATtYBwK2ns4RWRgHuxPxJoyJnWz13f8DzxVfvU1HeLYDaZ1moswG5SfM7NcezmpnyQyfgqi1OoGfruTcFCSp3XxpCEZTn2JOFN53pWiaZx9j7x89vZTii6WM79JKqQZx1v9FsbrZmycGlRHYJfAz-kl8tgZsBaPuZst8DOCY1S1J1hZ_PkkL",
                    "width": 5616
                }
            ],
            "place_id": "ChIJtb73s94c4zsR6pdvjXVale4",
            "plus_code": {
                "compound_code": "PX9M+5J Diu, Daman and Diu, India",
                "global_code": "7JGGPX9M+5J"
            },
            "rating": 4.3,
            "reference": "ChIJtb73s94c4zsR6pdvjXVale4",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1835,
            "vicinity": "Off, Fort Rd, near Hotel Prince, Main Bazar, Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.705624,
                    "lng": 70.914265
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.70698557989272,
                        "lng": 70.91592747989272
                    },
                    "southwest": {
                        "lat": 20.70428592010728,
                        "lng": 70.91322782010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "OYO Premium 002 Nagoa Beach View",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2592,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/112885576417410014173\">arupama mohanty</a>"
                    ],
                    "photo_reference": "ATtYBwL3DQGReSBUogOwymitVk62OydTRVXFpljmHT-y3A1_h-6OpgdUqeJ0DehYzVUj96Os91nO8_mR-QomTRW5CFchCah5V3i653eQWURNHJ3Ax-niHJHIKp8TJxWcXRt26uo3UoGJOPUhNoa2j4gHOJVcX-5FHkYDiLrmvoo_Ysjvjyib",
                    "width": 1456
                }
            ],
            "place_id": "ChIJdVXqIy8c4zsRUnrQgGHdWAg",
            "plus_code": {
                "compound_code": "PW47+6P Vanakbara, Dadra and Nagar Haveli and Daman and Diu, India",
                "global_code": "7JGGPW47+6P"
            },
            "rating": 4.1,
            "reference": "ChIJdVXqIy8c4zsRUnrQgGHdWAg",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 12,
            "vicinity": "\u041d\u0430\u0433\u043e\u0430 \u0411\u0438\u0447 \u043a\u04e9\u0447\u04e9\u0441\u04af, Nagoa Beach Road"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7267827,
                    "lng": 70.9892498
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.72814467989272,
                        "lng": 70.99056912989272
                    },
                    "southwest": {
                        "lat": 20.72544502010728,
                        "lng": 70.98786947010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Goa Paying Guest House",
            "photos": [
                {
                    "height": 480,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/111133109059565413346\">Sachin Modasia</a>"
                    ],
                    "photo_reference": "ATtYBwISd1eHFCQcctH96XDc1vEXgTsATACR7SFkaAq37zpVzBoz0iCtUbyhF4SsdtH0syA90_tm64e75ljbHkWJabL8nVd3zTOhzj_OH3YgITNCpXr_6zhlW8eoLWml5MlcXw96QSV1ODGakJSW9PvzkwNC1sOO60szSdBI3avSfnHYBB3_",
                    "width": 720
                }
            ],
            "place_id": "ChIJx71UNyYd4zsRneqClGFH7WA",
            "plus_code": {
                "compound_code": "PXGQ+PM Ghoghola, Daman and Diu, India",
                "global_code": "7JGGPXGQ+PM"
            },
            "rating": 3.8,
            "reference": "ChIJx71UNyYd4zsRneqClGFH7WA",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 178,
            "vicinity": "Ghoghola"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7143453,
                    "lng": 70.9703708
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.71555382989272,
                        "lng": 70.97168452989271
                    },
                    "southwest": {
                        "lat": 20.71285417010727,
                        "lng": 70.96898487010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Kohinoor Hotel",
            "photos": [
                {
                    "height": 2250,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/103273813268034026609\">Vipul Rathod</a>"
                    ],
                    "photo_reference": "ATtYBwKq9ItiYSPwNNKVKL6Ye_t8qFBNXvS6hls8_wsOZRlw5Wbrdpo8IZlaVV_Ll0LP0T7Frcp_KG4o0fZMFSTzt-Q-uTPiYwDTHX-j6Extc8Se8yhZx3uRnVX95lf5-U1XBkLYo4H4gR-elV-Wlgb0ZjOlWDkWOfs6767byI6yO9pWB13k",
                    "width": 4000
                }
            ],
            "place_id": "ChIJmcS1beQc4zsRk-gGDpHdaHI",
            "plus_code": {
                "compound_code": "PX7C+P4 Diu, Daman and Diu, India",
                "global_code": "7JGGPX7C+P4"
            },
            "rating": 4,
            "reference": "ChIJmcS1beQc4zsRk-gGDpHdaHI",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1469,
            "vicinity": "Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7385151,
                    "lng": 71.0060589
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.74012877989272,
                        "lng": 71.00726387989272
                    },
                    "southwest": {
                        "lat": 20.73742912010728,
                        "lng": 71.00456422010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Sugati Beach Resort",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 780,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109951704437381644548\">Sugati Beach Resort</a>"
                    ],
                    "photo_reference": "ATtYBwIbl7RQ0LDzXOXkr7aVrihvsMQdORSx9z9ttYVVG9SvoiDVOXsjAvf4R2GUBKDoo-Ww5scq2cxV5cFk1gHAILI2Jghd6O_CH_VogXJibnS6jhUGhq6X6aL6qIjbKnOJ-mmupFjm7LaqduBAFWWnL55I9EX4Ab2Ou3Qpel5TP9SvatFA",
                    "width": 1345
                }
            ],
            "place_id": "ChIJL9cupM0C4zsRcAOFL2KwrRs",
            "plus_code": {
                "compound_code": "P2Q4+CC Diu, Daman and Diu, India",
                "global_code": "7JGHP2Q4+CC"
            },
            "rating": 4.2,
            "reference": "ChIJL9cupM0C4zsRcAOFL2KwrRs",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 805,
            "vicinity": "Opposite Check Post, Ghoghla, Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 20.7048761,
                    "lng": 70.97543139999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 20.70629807989272,
                        "lng": 70.97678477989271
                    },
                    "southwest": {
                        "lat": 20.70359842010728,
                        "lng": 70.97408512010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Sea Village Resort",
            "opening_hours": {
                "open_now": false
            },
            "photos": [
                {
                    "height": 4000,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/100058092676575017135\">Ronak Patel</a>"
                    ],
                    "photo_reference": "ATtYBwIwIZJ-9ZGqwcGRCn-VHSc7MqAH8zEHkMhWTdkyHTeiqC__T6BX1axsb_msU7m3cz2oQOHOsnRu3FG9_sFQdw2uu0GxFbNKZDQFVvPP4evn-ILdovJvq0O4FB_DZe0ZU4oTQ0uLlxsnm9eOLT1GXCiKSBMxHmmlSYKwmkfSa1c5pZZd",
                    "width": 6016
                }
            ],
            "place_id": "ChIJkwAAANsc4zsR1NnpgM843fE",
            "plus_code": {
                "compound_code": "PX3G+X5 Diu, Daman and Diu, India",
                "global_code": "7JGGPX3G+X5"
            },
            "rating": 4,
            "reference": "ChIJkwAAANsc4zsR1NnpgM843fE",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 312,
            "vicinity": "Opp. Sunset Point, Chakratirth Beach, Panchvati, Diu"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [27]:
# Add marker layer ontop of heat map
coordinates = (locations)

# Display figure
print (coordinates)

       Lat     Lng
0    68.05   39.51
1   -20.41   57.70
2    77.48  -69.36
3    40.71  112.04
4   -33.93   18.42
..     ...     ...
543  33.97   36.66
544  24.01 -104.61
545  49.65    0.71
546  51.07  132.56
547  27.72  109.18

[548 rows x 2 columns]

In [ ]:
figure_layout = {
    'width': '900px',
    'hieght': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout,zoom_level=2, center=(15,25))

In [ ]:
# Assign markersalyer to variable
markers = gmaps.marker_layer(coordinates)
    # Add the layer to the map


fig.add_layer(markers)
fig

In [25]:
# Plot Heatmap
figure_layout = {
    'width': '900px',
    'hieght': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout,zoom_level=2, center=(15,25))
# Create the heatlayer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, dissipating=False, max_intensity=100, point_radius=1.5)

# Add Layer
fig.add_layer(heat_layer)

# Display figure
plt.savefig('../images.hotel_marker.png')
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…